<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ver Usuarios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

{% extends 'crudApp/home.html' %}
{% block title %}Usuarios{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-3 d-flex justify-content-center">Lista de Usuarios</h1>

    <!-- Filtro por Premium -->
    <form method="get" action="{% url 'view_usuario' %}" class="form-group mb-3">
        <label for="filtroPremium">Filtrar por Estatus Premium:</label>
        <select class="form-select" id="filtroPremium" name="premium" onchange="this.form.submit()">
            <option value="todos" {% if filter_premium == None or filter_premium == 'todos' %}selected{% endif %}>Todos</option>
            <option value="premium" {% if filter_premium == 'premium' %}selected{% endif %}>Premium</option>
            <option value="no_premium" {% if filter_premium == 'no_premium' %}selected{% endif %}>No Premium</option>
        </select>
    </form>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Estatura</th>
                <th>Fecha de Nacimiento</th>
                <th>Premium</th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.estatura }}</td>
                <td>{{ usuario.fechaNacimiento }}</td>
                <td>{{ usuario.esPremium|yesno:"Sí,No" }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'usuario' %}" class="btn btn-secondary mx-2">Atrás</a>
    </div>
</div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script>
    function filtrarPremium() {
        var filtro = document.getElementById('filtroPremium').value;
        var url = "{% url 'view_usuario' %}?";
        if (filtro === 'premium') {
            url += "premium=premium";
        } else if (filtro === 'no_premium') {
            url += "premium=no_premium";
        }
        window.location.href = url;
    }
</script>

</body>
</html>
