{% extends 'crudApp/home.html' %}
{% block title %}Eliminar Videojuego{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-3 d-flex justify-content-center">Eliminar Videojuego</h1>

    <div class="container-fluid">
        <form class="d-flex mb-3" action="" method="GET">
            <input class="form-control me-2" type="number" placeholder="ID del Usuario" aria-label="Search" name="usuario_id" required>
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>

    {% if usuario %}
    <h2 class="text-center">Usuario Seleccionado: {{ usuario.nombre }}</h2>
    <div class="list-group mb-3">
        {% for videojuego in videojuegos %}
        <a href="?usuario_id={{ usuario.id }}&videojuego_id={{ videojuego.id }}" class="list-group-item list-group-item-action">{{ videojuego.nombre }}</a>
        {% endfor %}
    </div>
    {% endif %}

    {% if videojuego_id %}
    <div class="mb-3 d-flex justify-content-center">
        <form method="POST" class="w-50">
            {% csrf_token %}
            <p>¿Está seguro de que desea eliminar el videojuego "{{ videojuego_id }}"?</p>
            <input type="hidden" name="usuario_id" value="{{ usuario_id }}">
            <input type="hidden" name="videojuego_id" value="{{ videojuego_id }}">
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'delete_videojuego' %}" class="btn btn-secondary mx-2">Cancelar</a>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
