<!-- read_videojuegos.html -->
<h1>Lista de Videojuegos</h1>
<table class="table table-bordered table-hover"> <!-- Agregado table-hover para mejor interacción visual -->
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Multijugador</th>
        <th>Fecha de Lanzamiento</th>
        <th>ID del Usuario</th>
    </tr>
    </thead>
    <tbody>
    {% for videojuego in videojuegos %}
        <tr>
            <td>{{ videojuego.id }}</td>
            <td>{{ videojuego.nombre }}</td>
            <td>${{ videojuego.precio|floatformat:2 }}</td> <!-- Formato de precio -->
            <td>{{ videojuego.multijugador|yesno:"Sí,No" }}</td> <!-- Mejor indicador de booleano -->
            <td>{{ videojuego.fechaLanzamiento }}</td> <!-- Formato de fecha -->
            <td>{{ videojuego.usuarioId }}</td>
            <td>
            </td>
        </tr>
    {% empty %}
        <tr><td colspan="6">No se encontraron videojuegos.</td></tr>
    {% endfor %}
    </tbody>
</table>
